* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #edeff2;
    font-family: "Calibri", "Roboto", sans-serif;
  }
  
  .chat_window {
    /* position: absolute; */
    width: 98%;
    max-width: 800px;
    /* max-height: 660px; */
    height: 98%;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    /* transform: translateX(-50%) translateY(-50%); */
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
    background-color: #f8f8f8;
    overflow: hidden;
  }
  .top_menu {
    background-color: #fff;
    width: 100%;
    padding: 13px 0px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  }
  .top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
  }
  .top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
  .top_menu .buttons .button.close {
    background-color: #f5886e;
  }
  .top_menu .buttons .button.minimize {
    background-color: #fdbf68;
  }
  .top_menu .buttons .button.maximize {
    background-color: #a3d063;
  }
  .top_menu .title {
    text-align: center;
    color: #337ab7;
    font-size: 20px;
  }
  
  .top_menu .logout {
    display: inline-block;
    float: right;
  }
  
  .messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 77%;
    overflow: scroll;
  }
  .bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    /*position: absolute;*/
    bottom: 0;
  }
  .bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: calc(100% - 93%);
    /* border-radius: 25px; */
    border: 1px solid #bcbdc0;
    width: calc(100% - 180px);
    position: relative;
    padding: 0 20px;
  }
  .bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
  }
  .bottom_wrapper .send_message {
    width: 110px;
    height: calc(100% - 93%);
    display: inline-block;
    /* border-radius: 50px;
    background-color: #ffffff;
    border: 2px solid #a3d063;
    color: #fff; */
    cursor: pointer;
    /* transition: all 0.2s linear; */
    text-align: center;
    float: right;
  }
  
  .bottom_wrapper .send_voice {
    width: 50px;
    height: calc(100% - 93%);
    display: inline-block;
    /* border-radius: 50px;
    background-color: #ffffff;
    border: 2px solid #a3d063;
    color: #fff; */
    cursor: pointer;
    /* transition: all 0.2s linear; */
    text-align: center;
    float: right;
  }
  
  .btn-success {
    font-family: Raleway-SemiBold;
    font-size: 18px;
    
    letter-spacing: 1px;
    line-height: 50%;
    border: 2px solid rgba(103, 192, 103, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
    width: 95%;
    height: 100%;
  }
  
  .btn-success:hover {
    color: #FFF;
    background: #fff ;
    border: 2px solid rgba(103, 192, 103, 0.75);
  }

  .btn-success:focus {
    color: #FFF;
    background: #fff ;
    border: 2px solid rgba(103, 192, 103, 0.75);
  }
  
  .bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
  }

  .bottom_wrapper .send_voice .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
  }

  #myCanvas{
    width: 100%; 
    height: 100%;
  }
  @media (max-width: 500px) {
    
      input{
        position : relative;
        background : none;
      }
    }